@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@300;400;500;700&display=swap");

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}


html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter' , "Roboto" , sans-serif;
  min-height: 100vh;
}

.Toastify__toast-body {
  font-size: 1.4rem;
  font-family: 'Inter';
}


.center-box {
  width: 500px;
  display: grid;
  place-items: center;
  font-size: 2rem;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 50%;
  transform: translate(-50%, 30%);
}



.center-box label {
  padding: 10px 0;
}

.center-box form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 18px 22px 49px -32px rgba(66, 68, 90, 0.32);
-moz-box-shadow: 18px 22px 49px -32px rgba(66, 68, 90, 0.32);
box-shadow: 18px 22px 49px -32px rgba(66, 68, 90, 0.32);
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

.button {
  margin-top: 15px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.button-loading {
  display: flex;
  align-items: center;
  min-height: 75px;
}

.button-loading button {
  margin-top: 0;
}

textarea {
  min-height: 200px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}


.grid-box {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
}

.overlay {
  height: 0;
}

.overlay.blur {
  position: fixed;
    top: 0;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    z-index: 90;
}

/* .frame {
  display: block;
  position: relative;
  z-index: 99999;
  height: 100%;
}

.frame iframe {
  position: relative;
  z-index: -1;
} */

.navigation {
  display: flex;
  justify-content: center;
  align-items:flex-start;
}

.navigation .navigation-bar {
  position: fixed;
  z-index: 99999;
}

.navigation .navigation-bar .category {
  margin-top: 2.5rem;
  font-size: 24px;
  color: #5a5a5a;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navigation .navigation-bar .category p {
  cursor: pointer;

}


.image-holder img {
  max-width: 60px;
}

.grid-main {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  min-height: 800px;
  display: grid;
  place-items: center;
  padding: 0 2rem;
  overflow: hidden;
}

.grid-main .container {
  max-width: 1300px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  overflow: hidden;
}

.grid-main .container .picture {
  /* width: 100%; */
}


.grid-main .container .picture img {
  width: 100%;
  display: block;
}

.grid-main .container .signup {
  background-color: #F4F4F4;
  padding: 0 7.5rem;
}

.grid-main .container .signup .input-container {
  margin-top: 9rem;
  width: 100%;
}

@media screen and (max-width: 1200px) {

  .grid-main .container .signup {
    padding: 0 4.5rem;
    display: grid;
    place-items: center;
    
  }

  .grid-main .container .signup .input-container {
    margin-top: 0rem;
    padding: 1.5rem 0;

  }

}

@media screen and (max-width: 1000px) { 


  .grid-main {
    height: 100%;
    padding: 1rem;
  }

  .grid-main .container { 
    grid-template-columns: 1fr;
  }

  .grid-main .container .picture { 
    grid-row: 2;
  }

  .grid-main .container .signup {
    padding: 1rem;    
  }

  .grid-main .container .signup .input-container {
    margin-top: 3.5rem;
    margin-bottom: 4.5rem;
  }

  .grid-main .register .signup .input-container {
    padding-bottom: 0 !important;
  }

  .grid-main .register .pictures p, .grid-main .register .pictures ul {
    margin: 0 3rem 0 4.5rem !important;
    list-style-position: outside !important;
}

}


.grid-main .container .signup .input-container .picture img {
  max-width: 60px;
  display: block;
  margin: 0 auto;
}

.grid-main .container .signup .input-container .title {
  margin-top: 2.5rem;
  margin-bottom: 3.5rem;
  font-size: 40px;
  text-align: center;
}

.grid-main .container .signup .input-container .form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.grid-main .container .signup .input-container .form-container .input-box {
  padding: 18px 20px;
  margin: 0;
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 1.4rem;
  color: #000;
  font-family: 'Inter', 'Roboto', sans-serif;
  font-weight: 500;
  background-color: #E0E1EA;
  border-radius: 5px;
}

.grid-main .container .signup .input-container .form-container .input-box::placeholder {
  color: #000;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Inter', 'Roboto', sans-serif;
}

.grid-main .container .signup .input-container .input-button {
  margin-top: 5rem;
  width: 100%;
  display: block;
  background-color: #000;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  padding: 18px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.grid-main .container .signup .input-container .back-link {
  margin-top: 1.5rem;
  text-align: right;
  width: 100%;
  font-size: 1.6rem;
  color: #000;

}

.grid-main .container .signup .input-container .back-link a {
  color: #000;
  text-decoration: underline;
}

.grid-main .register .pictures {
  background-color: #2A3990;
  color: #ffffff;
  font-size: 1.6rem;
  line-height: 2.4rem;
  list-style-position: inside;
  padding-bottom: 5rem;
}

.grid-main .register .pictures img {
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.grid-main .register .pictures p,
.grid-main .register .pictures ul {
  margin: 0 3rem 0 7.5rem;
}

.grid-main .register .pictures ul li {
  margin-bottom: 1.5rem;
}

.grid-main .register .signup {
  display: grid;
  place-items: center;
  
}

.grid-main .register .signup .input-container {
  margin-top: 0;
  padding: 5rem 0;
}

.grid-main .register .signup .input-container .picture {
  text-align: center;
  position: relative;
}

.grid-main .register .signup .input-container .picture img {
  position: relative;
}

.grid-main .register .signup .input-container .picture img {
  border-radius: 50%;
  height: 60px;
} 

.grid-main .register .signup .input-container .picture input {
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60px;
  height: 160px;
  cursor: pointer;
  opacity: 0;
}

.grid-main .register .signup .input-container .picture .file-button {
  margin-top: 1rem;
  background-color: #2A3990;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 1.2rem;
  display: inline-block;
  border-radius: 5px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}









